/* Global section */
body {
  border-top: 5px solid #e56038;
  background-color: #ebe8de;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  background: #EBE8DE;
  border-radius: 5px;
}

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  line-height: 25px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #333;
  color: #fff;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s ease;
}

strong {
  font-weight: bold;
}

figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px;
}

figcaption strong {
  border-bottom: 1px solid #D6D0C1;
  padding-bottom: 10px;
  margin: 10px 0;
  display: block;
}

header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #e56038;
  font-family: 'Baumans', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4A463B;
  margin-left: 132px;
}

/* placed nav at right bottom of header */
nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

nav ul li {
  float: left;
  padding: 3px 15px;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  transition: all .25s ease;
}

nav ul li a:hover {
  color: #E56038;
}

/* slider-image section */
#slider_content1, #slider_content2, #slider_content3 {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  width: 350px;
  position: absolute;
  top: 15%;
  left: 15%;
  display: none;
  z-index: 11;
}

#slider_content1 {
  display: block;
}

.container {
  height: 400px;  /* Check this later  */
  width: auto;
  margin: 0 auto;
  position: relative;
}

.slidesjs-container {
  border: 1px solid gray;
}

#slider_content1 h3, #slider_content2 h3, #slider_content3 h3 {
  padding: 10px 15px;
  border-radius: 15px 0;
  background-color: #333333;
  color: #EBE8DE;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

#slider_content1 p, #slider_content2 p, #slider_content3 p {
  padding: 10px 15px;
  background-color: #EBE8DE;
  border-radius: 5px;
  margin: 0 0 30px 0;
  color: #4a463b;
}

.spacer {
  background-color: #e56038;
  width: auto;
  height: 70px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
}

.spacer p {
  margin-top: 22px;
  width: auto;
  position: absolute;
  left: 50%;
  margin-left: -450px;
}

.spacer form {
  margin-top: 15px;
  width: auto;
  position: absolute;
  right: 50%;
  margin-right: -480px;
}

.boxcontent {
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  height: 200px; /* Check for this later  */
  background-color: aquamarine;
  padding: 70px 0 45px 0;
}

.boxcontent article {
  float: left;
  width: 250px;
  margin-right: 45px;
  font-size: 14px;
  background-color: blueviolet;
}

.boxcontent article h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 75px;
}

.boxcontent article img {
  float: left;
}

.boxcontent article p {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 75px;
}

.four_columns, .text_column {
  height: 200px; /* check this later */
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  background-color: yellow;
}

.four_columns h2, .text_column h3 {
  font-size: 20px;
  border-bottom: 1px solid #D6D0C1;
  padding: 20px 0;
  margin-bottom: 20px;
}

.four_columns figure {
  float: left;
  margin-right: 25px;
}

.four_columns figure a {
  display: block;
  position: relative;
}

.thumb_screen {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 113px;
  background: #000 url(./img/zoom-white.png) center center no-repeat;
  z-index: 99;
  opacity: 0;
  transition: opacity .5s ease;
}

.thumb_screen:hover {
  opacity: 0.5;
}

.text_column article, .text_column div {
  margin: 70px 0;
  float: left;
  font-size: 14px;
  width: 450px;
}

.text_column div {
  margin: 120px 0;
}

.text_column div article {
  position: relative;
  margin: 40px 0 0 50px;
  float: right;
  width: 350px;
}

.text_column div article img {
  position: absolute;
  top: 0;
  left: 0;
}

.text_column div article p {
  margin-left: 100px;
}

footer {
  clear: both;
  width: auto;
  height: 350px;
  position: relative;
  background: #333333;
}

footer .wrapper {
  line-height: 25px;
  padding-top: 30px;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  font-size: 14px;
}

footer .wrapper article {
  font-family: 'Open Sans', sans-serif;
  color: #ababab;
  float: left;
  width: 280px;
  margin-right: 20px;
}

footer .wrapper .middle li {
  width: auto;
  padding: 0 0 10px 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #444444;
  background: url(./img/arrow-right.png) left 6px no-repeat;
}

footer .wrapper .middle li:hover {
  color: #fff;
}

footer .wrapper .right li {
  width: auto;
  margin-bottom: 15px;
}

footer .wrapper .right li span {
  display: block;
  margin-left: 95px;
}

footer .wrapper .right li img {
  float: left;
  transition: border .25s ease;
  border: 2px solid #444444;
}

footer .wrapper .right li img:hover {
  border-color: #5e5e5e;
}

footer .wrapper article h4 {
  font-size: 16px;
  color: #fff;
  border-bottom: 1px solid #444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}
