/* Global section */
body {
  border-top: 5px solid #e56038;
  background-color: #ebe8de;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  background: #EBE8DE;
  border-radius: 5px;
}

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  line-height: 25px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #333;
  color: #fff;
}

header {
  background-color: silver;
  height: 25;
  padding: 25px;
}

.slider-images {
  background-color: beige;
  padding: 50px;
}

.spacer {
  background-color: brown;
}

article {
  background-color: blueviolet;
  padding: 25px;
}

.div1 {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
  padding: 10px;
}

.div2 {
  display: flex;
  justify-content: space-evenly;
  background-color: coral;
  padding: 20px;
}

.div3 {
  display: flex;
  justify-content: space-evenly;
  background-color: firebrick;

}

.div3 .big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.div3 div {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  flex: 1;
  margin: 10px;
}

.sma {
  margin: 10px;
}

.div4 {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
}

.div4 article {
  margin: 10px;
  flex: 1;
}

.copyright {
  background-color: gainsboro;
}
