/* Global section */
body {
  border-top: 5px solid #e56038;
  background-color: #ebe8de;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 7px;
  outline: 0;
  border: 0;
  width: 250px;
  background: #EBE8DE;
  border-radius: 5px;
}

input[type=submit] {
  width: auto;
  padding: 5px 18px;
  line-height: 25px;
  text-shadow: none;
  cursor: pointer;
  box-shadow: none;
  background: #333;
  color: #fff;
}

p {
  margin: 5px 0;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color .5s ease;
}

strong {
  font-weight: bold;
}

figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px;
}

figcaption strong {
  border-bottom: 1px solid #D6D0C1;
  padding-bottom: 10px;
  margin: 10px 0;
  display: block;
}

header {
  position: relative;
  width: auto;
  max-width: 900px;
  margin: 0 auto 20px auto;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #e56038;
  font-family: 'Baumans', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4A463B;
  margin-left: 132px;
}

/* placed nav at right bottom of header */
nav {
  position: absolute;
  right: 0;
  bottom: 0;
}

nav ul li {
  float: left;
  padding: 3px 15px;
}

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  transition: all .25s ease;
}

nav ul li a:hover {
  color: #E56038;
}
.slider-images {
  background-color: beige;
  padding: 50px;
}

.spacer {
  background-color: brown;
}

article {
  background-color: blueviolet;
  padding: 25px;
}

.div1 {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
  padding: 10px;
}

.div2 {
  display: flex;
  justify-content: space-evenly;
  background-color: coral;
  padding: 20px;
}

.div3 {
  display: flex;
  justify-content: space-evenly;
  background-color: firebrick;

}

.div3 .big {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 10px;
}

.div3 div {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  flex: 1;
  margin: 10px;
}

.sma {
  margin: 10px;
}

.div4 {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
}

.div4 article {
  margin: 10px;
  flex: 1;
}

.copyright {
  background-color: gainsboro;
}
